.baslık{

    margin-left:320px ;
    margin-right:340px ;
    background-color:lightgray;
}

 .section{
    margin-left: 320px;
    margin-right: 300px;
    padding: 2%;
    background-color:lightgray;
    height: 300px;
    width: 800px;
   
    
} 