.yazı{
  font-size: 80px;
  margin-top: 250px;
  font-family:"Courier New", Courier, monospace	;
}


/* ----------------------özgecmiş----------------------- */
.özgecmişsol{
   background-color: #6799A3;
  
   width: 25%;
   height: 800px;
   float: left;


}

.baslık{
 text-align: center;
 font-family:Garamond, serif;
  
}

 .özgecmişsağ{
    margin-left:25%;  
    padding: 2%;
    background-color:#CBEAEB;
    height: 800px;
    width: 75%;
    font-family: Tahoma, Verdana, sans-serif ;
     
} 

.öfooter{
  text-align: center;
  background-color: #3B7080;
  color: white;
}

@media screen and (max-width: 800px) {
  .özgecmişsağ {
    margin: 0px;
    width: 100%;
  }
  .özgecmişsol{
    width: 0px;
  }
}

.carousel{

    margin: auto;
   width: 90%;
   
}


/*------------- hakkında--------------- */


        * {
          box-sizing: border-box;
        }
        
        body {
          margin: 0;
        }
        
        /* .header {
          background-color: #f1f1f1;
          padding: 20px;
          text-align: center;
        } */
        
        
        /* Create three unequal columns that floats next to each other */
        .column {
          float: left;
          padding: 20px;
          
          
          
        }
        
        /* Left and right column */
        .column.side {
           
          width: 30%;
          background-color: #d6d1cd;
         
        }
        
        /* Middle column */
        .column.middle {
            width: 40%;
            font-family: "Courier New", Courier, monospace;
        }
        
        /* Clear floats after the columns */
        .row::after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 800px) {
          .column.side, .column.middle {
            width: 100%;
            
          }
        }

   
        /* -----------------------Şehrim--------------------------- */
        
      * {
        box-sizing: border-box;
      }
      
      body {
        font-family: Arial;
        padding: 10px;
        background: #f1f1f1;
      }
      
      /* Header/Blog Title */
      .header {
        padding: 30px;
        text-align: center;
        background: white;
        height: 90px;
      }
      
      .header h1 {
        font-size: 25px;
      }
      
    
      
      /* Create two unequal columns that floats next to each other */
      /* Left column */
      .sol {   
        float: left;
        width: 65%;
        padding-left: 70px;
      }
      
      /* Right column */
      .sağ {
        float: left;
        width: 25%;
        background-color: #f1f1f1;
        padding-left: 20px;
      }
      
      
      /* Add a card effect for articles */
      .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
      }
      
      /* Clear floats after the columns */
      .row::after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Footer */
      .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
      }
      
      @media screen and (max-width: 800px) {
        .sol, .sağ {   
          width: 100%;
          padding: 0;
        }
      }
      
      .mirasımız{
           width: 25%;
           height: 900px;
           float:left;

      }
      
        .card ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            background-color: #f1f1f1;
          }
          
         .card li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
          }
          
         .card li a.active {
            background-color: #e299c6;
            color: white;
          }
          
         .card li a:hover:not(.active) {
            background-color: #e299c6;
            color: white;
          }

          
      .iletişim
      {
        background-color: white;
        width: 500px;
        border: 5px solid rgb(96, 0, 90);
        padding: 25px;
        margin: auto;
        margin-top: 100px;

      }
.login
{
      background-color: white;
      width: 30%;
      border: 5px solid rgb(96, 0, 90);
      padding: 50px;
      margin: auto;
      margin-top: 100px;
  
}

@media screen and (max-width: 1000px) {
    .login {
      width: 100%;
    }
    .iletişim{
        width: 100%;
      }
  }
