


.baslık{

    margin-left:320px ;
    margin-right:340px ;
    background-color:lightgray;
}

 .section{
    margin-left: 320px;
    margin-right: 300px;
    padding: 2%;
    background-color:lightgray;
    height: 300px;
    width: 800px;
   
    
} 


.carousel{

    margin: auto;
   width: 90%;
   
}


/*------------- özgecmiş--------------- */


        * {
          box-sizing: border-box;
        }
        
        body {
          margin: 0;
        }
        
        /* .header {
          background-color: #f1f1f1;
          padding: 20px;
          text-align: center;
        } */
        
        
        /* Create three unequal columns that floats next to each other */
        .column {
          float: left;
          padding: 20px;
          
          
          
        }
        
        /* Left and right column */
        .column.side {
           
          width: 30%;
          background-color: #d6d1cd;
         
        }
        
        /* Middle column */
        .column.middle {
            width: 40%;
            font-family: "Courier New", Courier, monospace;
        }
        
        /* Clear floats after the columns */
        .row::after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          .column.side, .column.middle {
            width: 100%;
          }
        }

   
        /* -----------------------Şehrim--------------------------- */
        
      * {
        box-sizing: border-box;
      }
      
      body {
        font-family: Arial;
        padding: 10px;
        background: #f1f1f1;
      }
      
      /* Header/Blog Title */
      .header {
        padding: 30px;
        text-align: center;
        background: white;
        height: 90px;
      }
      
      .header h1 {
        font-size: 25px;
      }
      
    
      
      /* Create two unequal columns that floats next to each other */
      /* Left column */
      .sol {   
        float: left;
        width: 65%;
        padding-left: 70px;
      }
      
      /* Right column */
      .sağ {
        float: left;
        width: 25%;
        background-color: #f1f1f1;
        padding-left: 20px;
      }
      
      
      /* Add a card effect for articles */
      .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
      }
      
      /* Clear floats after the columns */
      .row::after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Footer */
      .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
      }
      
      /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other
      @media screen and (max-width: 800px) {
        .leftcolumn, .rightcolumn {   
          width: 100%;
          padding: 0;
        }
      }
      
      /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
      /* @media screen and (max-width: 400px) {
        .topnav a {
          float: none;
          width: 100%;
        } */ 

        .card ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            background-color: #f1f1f1;
          }
          
         .card li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
          }
          
         .card li a.active {
            background-color: #e299c6;
            color: white;
          }
          
         .card li a:hover:not(.active) {
            background-color: #e299c6;
            color: white;
          }

          
      
